/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/PPAgrandir-Regular.eot");
  src: url("../fonts/PPAgrandir-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-Regular.woff2") format("woff2"), url("../fonts/PPAgrandir-Regular.woff") format("woff"), url("../fonts/PPAgrandir-Regular.ttf") format("truetype"), url("../fonts/PPAgrandir-Regular.svg#PPAgrandir-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/PPAgrandirText-Bold.eot");
  src: url("../fonts/PPAgrandirText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandirText-Bold.woff2") format("woff2"), url("../fonts/PPAgrandirText-Bold.woff") format("woff"), url("../fonts/PPAgrandirText-Bold.ttf") format("truetype"), url("../fonts/PPAgrandirText-Bold.svg#PPAgrandirText-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/PPAgrandir-GrandHeavy.eot");
  src: url("../fonts/PPAgrandir-GrandHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-GrandHeavy.woff2") format("woff2"), url("../fonts/PPAgrandir-GrandHeavy.woff") format("woff"), url("../fonts/PPAgrandir-GrandHeavy.ttf") format("truetype"), url("../fonts/PPAgrandir-GrandHeavy.svg#PPAgrandir-GrandHeavy") format("svg");
  font-weight: 800;
  font-style: normal;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(15, 15, 15, 0.4);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 24px 70px;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header .menu__item {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.header .menu__item_nested {
  background-image: url("../img/nested-menu.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 26px;
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 191px 458px 208px 458px;
}

.main-title {
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 16px;
  width: 100%;
  color: #fff;
}

.description {
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.attract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 16px;
}
.attract__input {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 16px;
  border-radius: 30px;
  border: 2px solid #a1aebf;
  background-color: transparent;
}
.attract__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.trusted {
  padding: 80px 70px 124px 70px;
  /* background-color: #000; */
}
.trusted__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin: 0 0 64px 0;
}
.trusted__title {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.trusted__description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.trusted .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.trusted .companies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.trusted .companies__row_right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: -170px;
}
.trusted .companies__row_left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: -170px;
}
.trusted .companies .company {
  border-radius: 10px;
  border: 1px solid #A1AEBF;
}
.trusted .companies .company__logo {
  padding: 16px 24px;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 75px 23px 102px;
}
.choose__title {
  margin-bottom: 16px;
}
.choose__description {
  margin-bottom: 32px;
}
.footer {
  padding: 80px 70px 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer .column:last-child {
  width: 400px;
}
.footer .column__item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px; /* 125% */
  font-weight: 500;
  letter-spacing: 0.32px;
}
.footer .column__item_main {
  color: #fff;
  font-weight: 700;
}
.footer .email {
  width: 260px;
  border-radius: 24.341px;
  border: 1.623px solid #a1aebf;
  background-color: transparent;
  padding: 13px;
  font-size: 12.982px;
  line-height: 16.227px; /* 125% */
  letter-spacing: 0.26px;
}
.footer .created_by {
  margin: 80px 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Agrandir";
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

.orange-button {
  border-radius: 1000px;
  border: 1px solid #ffa800;
  background-color: #ffa800;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.orange-button_transaparent {
  background-color: transparent;
  color: #ffa800;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.logo__image {
  width: 38px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.logo__title {
  font-weight: 800;
  line-height: 108%;
  color: #fff;
}

.width-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screen {
  width: 100%;
}
.screen_odd {
  background-color: #000;
}