/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Quicksand:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Agrandir";
  src: url("../fonts/PPAgrandir-Regular.eot");
  src: url("../fonts/PPAgrandir-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-Regular.woff2") format("woff2"), url("../fonts/PPAgrandir-Regular.woff") format("woff"), url("../fonts/PPAgrandir-Regular.ttf") format("truetype"), url("../fonts/PPAgrandir-Regular.svg#PPAgrandir-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/PPAgrandirText-Bold.eot");
  src: url("../fonts/PPAgrandirText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandirText-Bold.woff2") format("woff2"), url("../fonts/PPAgrandirText-Bold.woff") format("woff"), url("../fonts/PPAgrandirText-Bold.ttf") format("truetype"), url("../fonts/PPAgrandirText-Bold.svg#PPAgrandirText-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Agrandir";
  src: url("../fonts/PPAgrandir-GrandHeavy.eot");
  src: url("../fonts/PPAgrandir-GrandHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/PPAgrandir-GrandHeavy.woff2") format("woff2"), url("../fonts/PPAgrandir-GrandHeavy.woff") format("woff"), url("../fonts/PPAgrandir-GrandHeavy.ttf") format("truetype"), url("../fonts/PPAgrandir-GrandHeavy.svg#PPAgrandir-GrandHeavy") format("svg");
  font-weight: 800;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Agrandir";
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

.orange-button {
  border-radius: 1000px;
  border: 1px solid #ffa800;
  background-color: #ffa800;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.orange-button_transaparent {
  background-color: transparent;
  color: #ffa800;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.logo__image {
  width: 38px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.logo__title {
  font-weight: 800;
  line-height: 108%;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-light-black {
  background-color: #0f0f0f;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(15, 15, 15, 0.4);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 24px 70px;
}
.header__row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header__row .menu__item {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.header__row .menu__item_nested {
  background-image: url("../img/nested-menu.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 26px;
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 191px 458px 208px 458px;
}

.main-title {
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 16px;
  width: 100%;
  color: #fff;
}

.description {
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.attract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 16px;
}
.attract__input {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 16px;
  border-radius: 30px;
  border: 2px solid #a1aebf;
  background-color: transparent;
}
.attract__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.trusted {
  padding: 80px 70px 124px 70px;
  /* background-color: #000; */
}
.trusted__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin: 0 0 64px 0;
}
.trusted__title {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.trusted__description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.trusted .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.trusted .companies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.trusted .companies__row_right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: -170px;
}
.trusted .companies__row_left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: -170px;
}
.trusted .companies .company {
  border-radius: 10px;
  border: 1px solid #A1AEBF;
}
.trusted .companies .company__logo {
  padding: 16px 24px;
}

.we-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 70px 75px 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.we-offer__title {
  text-align: center;
  margin-bottom: 24px;
}
.we-offer__description {
  text-align: center;
  margin-bottom: 40px;
  width: 634px;
}
.we-offer .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.we-offer .offer {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #a1aebf;
  width: 338px;
}
.we-offer .offer__title {
  margin-bottom: 20px;
}
.we-offer .offer__logo {
  margin-bottom: 20px;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 75px 23px 102px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.choose__title {
  margin-bottom: 16px;
}
.choose__description {
  margin-bottom: 32px;
}
.our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}
.our-work__intro {
  max-width: 412px;
  height: 100%;
}
.our-work__title {
  margin-bottom: 16px;
}
.our-work__description {
  margin-bottom: 24px;
}
.our-work .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 4px;
  border: 1px solid #a1aebf;
}
.our-work .project:last-child {
  margin-bottom: 0;
}
.our-work .project__image {
  margin-bottom: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.our-work .project__tag {
  margin-bottom: 20px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #ffa800;
  color: #1a365d;
  font-family: Archivo;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.our-work .project__title {
  margin-bottom: 20px;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.our-work .project__more {
  padding-right: 26px;
  color: #728095;
  font-family: Quicksand;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
  background-image: url("../img/project-more.png");
  background-repeat: no-repeat;
  background-position: right;
}

.customers-review {
  margin: 80px 0 96px 0;
}

.customer-review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 58px;
}

.customers-review__title {
  color: #fff;
  font-weight: 700;
}

.customers-review__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.customers-reviews__button {
  border-radius: 4px;
  width: 60px;
  padding: 20px;
  background-color: #0f0f0f;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.review {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #a1aebf;
  background-color: #0f0f0f;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.review__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.review__photo {
  max-width: 48px;
  max-height: 48px;
}
.review__name {
  color: #fff;
  font-weight: 700;
}
.review__organization {
  font-weight: 700;
}
.review__text {
  color: #fff;
  font-weight: 700;
}

.discuss {
  padding: 80px 0;
}
.discuss__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  border-radius: 4px;
  border: 1px solid #a1aebf;
  background: #ffb219;
}
.discuss__title {
  margin-bottom: 16px;
  color: #0d0e14;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px; /* 140% */
}
.discuss__description {
  max-width: 511px;
  margin: 0 auto 32px auto;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.discuss .discuss-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.discuss .discuss-action__email {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  border-radius: 30px;
  border: 2px solid #a1aebf;
  padding: 16px;
  color: #0d0e14;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.discuss .discuss-action__send {
  padding: 12px 24px;
  border-radius: 1000px;
  background: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer__row {
  padding: 80px 70px 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__row .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer .footer__row .column:last-child {
  width: 400px;
}
.footer .footer__row .column__item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px; /* 125% */
  font-weight: 500;
  letter-spacing: 0.32px;
}
.footer .footer__row .column__item_main {
  color: #fff;
  font-weight: 700;
}
.footer .footer__row .email {
  width: 260px;
  border-radius: 24.341px;
  border: 1.623px solid #a1aebf;
  background-color: transparent;
  padding: 13px;
  font-size: 12.982px;
  line-height: 16.227px; /* 125% */
  letter-spacing: 0.26px;
}
.footer .footer__row .created_by {
  margin: 80px 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}