.choose {
    display: flex;
    padding: 23px 75px 23px 102px;

    &__searching {
    }

    &__content {
    }

    &__title {
        margin-bottom: 16px;
    }

    &__description {
        margin-bottom: 32px;
    }

    &__connect {
    }
}

