.customers-review {
  margin: 80px 0 96px 0;
}

.customer-review__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 6px;

  margin-bottom: 58px;
}

.customers-review__title {
  color: #fff;
  font-weight: 700;
}

.customers-review__buttons {
  display: flex;
  gap: 6px;
}

.customers-reviews__button {
  border-radius: 4px;
  width: 60px;
  padding: 20px;
  background-color: #0f0f0f;
}

.reviews {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.review {
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #a1aebf;
  background-color: #0f0f0f;
  flex-basis: 25%;

  @media(max-width: $xl) {
    flex-basis: 33.3333%;
  }

  @media(max-width: $lg) {
    flex-basis: 50%;
  }

  @media(max-width: $sm) {
    flex-basis: 100%;
  }

  &:last-child() {
    @media(max-width: $xl) {
      display: none;
    }
  }

  &:nth-last-child(-n + 2) {
    @media(max-width: $lg) {
      display: none;
    }
  }

  &:nth-last-child(-n + 3) {
    @media(max-width: $sm) {
      display: none;
    }
  }

  &__intro {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__person {
  }

  &__photo {
    max-width: 48px;
    max-height: 48px;
  }

  &__name {
    color: #fff;
    font-weight: 700;
  }

  &__organization {
    font-weight: 700;
  }

  &__text {
    color: #fff;
    font-weight: 700;
  }
}
