.we-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 70px 75px 70px;
    align-self: center;

    @media(max-width: $sm) {
      padding: 80px 20px 75px 20px;
    }

    &__title {
      text-align: center;
      margin-bottom: 24px;
    }
    
    &__description {
      text-align: center;
      margin-bottom: 40px;
      max-width: 634px;
    }
    
    .offers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
      }
    
    .offer {
      padding: 20px;
      border-radius: 4px;
      border: 1px solid #a1aebf;
      max-width: 338px;

      &__title {
        margin-bottom: 20px;
      }
      
      &__description {
      }
      
      &__logo {
        margin-bottom: 20px;
      }
    }
  }
  